.text-center
  %h2 Đăng Ký
.row
  .col.s12
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .row
        .input-field.col.s12
          = f.email_field :email, autofocus: true
          = f.label :email

      .row
        .input-field.col.s12
          = f.password_field :password, autocomplete: "of"
          = f.label :name, "Mật Khẩu"
          - if @minimum_password_length
            %em
              (Phải có ít nhất #{@minimum_password_length} ký tự)

      .row
        .input-field.col.s12
          = f.password_field :password_confirmation, autocomplete: "of"
          = f.label :name, "Nhập lại mật khẩu"
          %p
            %em
              (Nhập lại mật khẩu bằng tay, không được copy!)

      .row
        .actions
          = f.submit "Đăng Ký", class: "btn btn-primary btn-sm"
        %small
          = render "devise/shared/links"
