.text-center
  %h2 Quên Mật Khẩu?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, input_html: { class: 'form-control' }
    .actions
      = f.submit "Gửi hướng dẫn thiết lập lại mật khẩu", class: "btn btn-primary btn-sm"
  %small
    = render "devise/shared/links"

