.row
  %h1.text-center Tìm Trường Học và Giáo Viên
  = form_tag search_welcome_index_url, :id => 'custom-search-input', method: :get, class: "input-group col-md-12", role: "search" do
    .input-group
      = text_field_tag :search,
            params[:search], class: "search-query form-control", placeholder: "Tên trường học, ví dụ: Đại Học Bách Khoa Hồ Chí Minh...."
      %span.input-group-btn
        = button_tag( :class => "btn btn-danger") do
          .search-size
            %span.glyphicon.glyphicon-search

= @results.each do |f|
  = f.content
  - if f.searchable_type=="Teacher"
    = link_to "Show teacher", teacher_url(f.searchable_id)
  - else
    = link_to "Show School", school_path(f.searchable_id)
