= form_for([@teacher, @rating], :html => { :class => "form-horizontal center", :multipart => true }) do |f|

  / Show errors
  .errors
    - if @rating.errors.any?
      %ul
        - @rating.errors[:user_id].each do |msg|
          %li= msg
        - @rating.errors[:subject].each do |msg|
          %li= msg
        - @rating.errors[:schoolYear].each do |msg|
          %li= msg
  .text-center
    %h3 Thông tin cá nhân
    %br/
  .form-group
    = f.label :name, "Môn Học", class: "col-sm-3 control-label"
    .col-sm-3
      = f.text_field :subject, placeholder: "Triết học..."
      .help-block (Bắt buộc)

  .form-group
    = f.label :name, "Năm Học", class: "col-sm-3 control-label"
    .col-sm-3
      = f.text_field :schoolYear, placeholder: "Ghi số, ví dụ 2013..."
      .help-block (Bắt buộc)

  .form-group
    = f.label :name, "Điểm", class: "col-sm-3 control-label"
    .col-sm-6
      = f.select :gradeReceived, [ "N/A", "A", "B", "C", "D", "F"], class: "form-control"
      .help-block (Chọn N/A nếu muốn bí mật)
  %hr/
  .text-center
    %h3 Đánh Giá Giáo Viên
    %br/
  .form-group
    = f.label :name, "Dễ Hiểu", class: "col-sm-3 control-label"
    .col-sm-3
      = f.select(:clarity, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]]), {}, {class: "form-control"})

  .form-group
    = f.label :name, "Nhiệt Tình", class: "col-sm-3 control-label"
    .col-sm-3
      = f.select(:helpfulness, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]]), {}, {class: "form-control"})

  .form-group
    = f.label :name, "Bài Kiểm Tra", class: "col-sm-3 control-label"
    .col-sm-3
      = f.select(:easiness, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]]), {}, {class: "form-control"})

  .form-group
    = f.label :name, "Nhận Xét", class: "col-sm-3 control-label"
    .col-sm-3
      = f.text_area :comment, {:rows => "10", :cols => "50"}
  .form-group
    .col-sm-3.col-sm-offset-1
      = f.submit "Đánh Giá", class: "btn btn-warning btn-sm"
