.text-center
  / No search results announcement/notification
  - if @teachers.blank?
    %h2 Xin lỗi, hệ thống chúng tôi không có thông tin về giảng viên mà bạn muốn tìm.
    = link_to("Trang Trước", school_url(@school), class: "btn btn-default btn-xs")
    = link_to("Trang Chủ", root_path, class: "btn btn-default btn-xs")
  - else
    - @school.teachers.each do |teacher|
      %p
      %h2= link_to teacher.to_s, school_teacher_path(@school, teacher)
    = link_to("Trang Trước", school_url(@school), class: "btn btn-default btn-xs")
    = link_to("Trang Chủ", root_path, class: "btn btn-default btn-xs")
