%h1= @teacher.to_s
%h3 Khoa #{@teacher.department} tại trường |
#{link_to(@school.name, school_path(@school))} |


%p= link_to "Rate teacher", new_teacher_rating_path(@teacher, @rating), class: "btn btn-default"

%p Average Clarity
.star-rating{"data-score" => @teacher.ratings.average(:clarity).round(3)}
%p Average Easiness
.star-rating{"data-score" => @teacher.ratings.average(:easiness).round(3)}
%p Average Helpfulness
.star-rating{"data-score" => @teacher.ratings.average(:helpfulness).round(3)}
%hr/
%br/

= @teacher.ratings.each do |rating|
  %p
    Clarity
    .star-rating{"data-score" => rating.clarity}
  %p
    Helpfulness
    .star-rating{"data-score" => rating.helpfulness}
  %p
    Easiness
    .star-rating{"data-score" => rating.easiness}
  %p
    Comment:
    \#{rating.comment}
  = link_to("Delete Rating", teacher_rating_url(@teacher, rating), method: :delete, data: { confirm: "Are you sure?" })
  %hr/


:javascript
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
