%h1= @school.name
= link_to('Website', @school.website, target: '_blank')

/ Show all the teachers
- @school.teachers.each do |teacher|
  %p
  = teacher.firstName
  = teacher.middleName
  = teacher.lastName
  %p= link_to("Edit", edit_school_teacher_path(@school, teacher))
  %p= link_to("Show", school_teacher_path(@school, teacher))


/ Create new teacher
%h2= link_to "Add new teacher", new_school_teacher_path(@school)


/ Bullshit links
= link_to 'Edit', edit_school_path(@school)
|
\#{link_to 'Back', schools_path}
