!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title TeacherRating
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,vietnamese", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    = render(:partial => "layouts/navbar")
    / - flash.each do |name, msg|
    /   = content_tag(:div, msg, class: "alert")
    = flash_messages
    .container
      = yield
